/*custom styles*/
body {
	font-family: Source Sans Pro, helvetica;
	letter-spacing: 1px;
	margin: 0 auto;
	background-image: url('../img/FreemiumBg.png');
	background-repeat: none;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


.title h1 {
	text-align: center;
	font-weight: 200;
	color: #666;
	letter-spacing: 4px;
	font-size: 3em;
	text-transform: uppercase;
	margin-top: 2%;
}

.solo, .classic {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 10%;
}

.classic h4 {
	margin-bottom: -4%;
	font-weight: 600;
}

.solo h4 {
	margin-bottom: -4%;
	font-weight: 600;
}

.solo p {
	padding-top: 5%;
}

.classic p {
	padding-top: 5%;
}


.solo img {
	max-width: 85%;
	padding: 1%;

}


.classic img {
	max-width: 85%;
	padding: 1%;
}

.btn {
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #000;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 5%;
	letter-spacing: 2px;
	text-transform: uppercase;

}

.btn-primary {
	border-radius: 0;
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
}
