/*custom styles*/
body {
	font-family: Source Sans Pro, helvetica;
	letter-spacing: 1px;
	margin: 0 auto;
	background-image: url('../img/FreemiumBg.png');
	background-repeat: none;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


.title h1 {
	text-align: center;
	font-weight: 200;
	color: #666;
	letter-spacing: 4px;
	font-size: 2.8em;
	text-transform: uppercase;
	margin-top: 1%;
}

.solo, .classic {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 5%;
}

.classic h4 {
	margin-bottom: -2%;
	font-weight: 600;
	font-size: 1.6em;
}

.solo h4 {
	margin-bottom: -2%;
	font-weight: 600;
	font-size: 1.6em;
}


.solo img {
	max-width: 80%;
	padding: 1%;
	margin-bottom: 5%;

}


.classic img {
	max-width: 80%;
	padding: 1%;
	margin-bottom: 5%;
}

.btn {
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #000;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 5%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000;
	font-size: 1em;
	font-weight: 600;

}

.btn-primary {
	
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
}


a:hover .btn  {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

a:hover .btn-primary  {
  background-color: #99ff99;
  border-color: #99ff99;
  color: #000;
  -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    
}
.solo h3 {
	margin-bottom: -3%;
	margin-top: 7%;
	text-transform: uppercase;
	font-weight: 200;
}

.classic h3 {
	margin-bottom: -3%;
	margin-top: 7%;
	text-transform: uppercase;
	font-weight: 200;
}

.classic h6 {
	padding-top: none;
	font-style: italic;
	font-weight: 200;
}

/*------------------Styles for Upgrade page-----------------------------*/

.callout h1 {
	text-align: center;
	font-weight: 200;
	color: #666;
	letter-spacing: 4px;
	font-size: 2.8em;
	text-transform: uppercase;
	margin-top: 3%;
	margin-bottom: 10%;
}


.upgrade .btn {
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #999;
	padding-left: 6%;
	padding-right: 6%;
	margin-top: 7%;
	margin-right: 2%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #999;
	font-size: .9em;
	font-weight: 600;

}

.upgrade .btn-primary {
	
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
}

.upgrade {
	margin: 2%, 0, 2%, 0;
}
.upgrade p {
	margin-top: 3%;
	font-size: 1.2em;
}
